@import 'theme.scss';

:root {
  --border-radius: 0px;
  --blur-px: 40px;
  --backdrop-blur: blur(var(--blur-px)) saturate(180%);
  --screen-width: 1280px;
  --min-screen-width: 1280px;
  --show-border-op: 0.5;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

html,
body {
  //scroll-behavior: smooth;
}

body {
  @apply relative overflow-x-hidden;
  width: 100%;
  transition: background-color 0.3s,
  color 0.3s;
  //transform-style: preserve-3d; // 不能设置这个 否则导致 fixed 定位失效
  //perspective: 1000px;
  @include useTheme {
    background-color: getModeVar('bgColor');
    color: getModeVar('infoColor');
  }
}

.enter-y {
  --enter-duration: 0.4s;
  opacity: 0;
  transform: translateX(50px);
  filter: blur(10px);
  animation: enter-y-animation var(--enter-duration) ease-in-out 0.3s forwards;
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
  @keyframes enter-y-animation {
    0% {
      opacity: 0;
      filter: blur(10px);
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }
}

.enter-scale {
  opacity: 0;
  transform: scale(1.1);
  filter: blur(10px);
  animation: enter-scale-animation 0.4s ease-in-out 0.3s forwards;
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
  @keyframes enter-scale-animation {
    0% {
      opacity: 0;
      transform: scale(1.1);
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
    }
  }
}

.enter-scale-noblur {
  transform: scale(1.1);
  animation: enter-scale-noblur-animation 0.4s ease-in-out 0.3s forwards;
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
  @keyframes enter-scale-noblur-animation {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}

// 通用卡片样式
.card {
  @apply shadow-md rounded-[var(--border-radius)];
  @include useTheme {
    border: 1px solid rgba(getColor('primary'), var(--show-border-op));
  }
}

// g6交互提示样式
.g6-tooltip {
  padding: 10px 6px;
  border-radius: var(--border-radius);
  @include useTheme {
    border: 2px solid rgba(getColor('primary'), var(--show-border-op));
    background-color: rgba(getModeVar('cardBgColor'), 0.8);
    backdrop-filter: var(--backdrop-blur);
    color: getModeVar('textColor');
    box-shadow: 0 0 10px 0 rgba(getColor('primary'), 0.6);
  }
}

// 对模态框进行通用设置
.ant-modal-root {
  .i-page-header {
    backdrop-filter: var(--backdrop-blur) !important;
    background: transparent !important;
    border: none !important;
  }

  .ant-modal-mask {
    background: transparent;
    //@include useTheme {
    //  background: rgba(getModeVar('bg1color'), 0.1);
    //  backdrop-filter: blur(30px);
    //}
  }

  .ant-modal {
    @include useTheme {
      outline: 3px solid rgba(getModeVar('borderColor'), 0.9);
      background: rgba(getModeVar('modalBgColor'), 0.7);
      backdrop-filter: var(--backdrop-blur);
      box-shadow: 0 0 rgba(0, 0, 0, 0),
      0 0 rgba(0, 0, 0, 0),
      0 34px 50px -20px rgb(getModeVar('boxShadowColor'), 0.16),
      0 32px 45px -12px rgb(getModeVar('boxShadowColor'), 0.14),
      0 30px 40px -8px rgb(getModeVar('boxShadowColor'), 0.12),
      inset 0 0 8px rgba(getModeVar('boxShadowColor'), 0.06);
    }

    .ant-modal-content {
      background: transparent;

      .ant-modal-header {
        @apply absolute top-0 z-10 w-full;
        @include useTheme {
          background: linear-gradient(getModeVar('modalBgColor') 20px, transparent 100%);
        }
        border: none;

        .ant-modal-title {
          @apply text-2xl;
        }
      }
      .ant-modal-body {
        padding: 45px 0 0 0 !important;
      }
      .ant-page-header-heading-title {
        @apply text-base;
      }

      .ant-modal-close {
        @apply w-7 h-7 rounded-full p-1;
        transition: transform 0.3s;
        @include useTheme {
          background: getModeVar('cardBgColor');
          &:hover {
            background: rgba(getColor('primary'), 0.2);
            outline: 3px solid rgba(getColor('primary'), 1);
            transform: scale(1.1);
          }
        }

        .ant-modal-close-x {
          @apply w-full h-full;
          .ant-modal-close-icon {
            @apply inline-block w-full h-full;
            svg {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

// 对设置的模态框进行设置
.setting-modal {
  width: 65vw !important;
  border-radius: calc(var(--border-radius) * 2.2) !important;
  @media screen and (max-width: 1280px) {
    width: 80vw !important;
  }
  @media screen and (max-width: 768px) {
    width: 110vw !important;
    height: 98vh !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    border-radius: 0 !important;
  }

  .ant-modal-content {
    position: relative;
    border-radius: calc(var(--border-radius) * 2.2) !important;
    @media screen and (max-width: 768px) {
      border-radius: 0 !important;
    }

    .ant-modal-body {
      height: 85vh !important;

      @media screen and (max-width: 768px) {
        height: 100vh !important;
      }
    }
  }
}

// 图片的样式修改
.ant-image {
  height: 100%;
  width: 100%;
}

// 菜单样式修改
.ant-dropdown {
  .ant-dropdown-menu {
    @include useTheme {
      background: rgba(getModeVar('cardBgColor'), 0.7);
      backdrop-filter: var(--backdrop-blur);
    }
  }
}

// 下拉框样式修改
.ant-select-dropdown {
  @include useTheme {
    background: rgba(getModeVar('cardBgColor'), 0.7);
    backdrop-filter: var(--backdrop-blur);
  }
}

// 弹出层样式修改
.ant-popover {
  .ant-popover-content {
    .ant-popover-inner {
      @include useTheme {
        background: rgba(getModeVar('cardBgColor'), 0.7);
        backdrop-filter: var(--backdrop-blur);
      }
    }
  }
}

// 消息样式修改
.ant-message {
  .ant-message-notice-content {
    @include useTheme {
      background: rgba(getModeVar('cardBgColor'), 0.7);
      backdrop-filter: var(--backdrop-blur);
    }
  }
}

// 通知样式修改
.ant-notification {
  .ant-notification-notice {
    @include useTheme {
      background: rgba(getModeVar('cardBgColor'), 0.7);
      backdrop-filter: var(--backdrop-blur);
    }
  }
}

// 抽屉样式修改
.ant-drawer {
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      @include useTheme {
        background: rgba(getModeVar('cardBgColor'), 0.7);
        backdrop-filter: var(--backdrop-blur);
      }
    }
  }
}

// 悬浮按钮样式修改
.ant-float-btn-group {
  @include useTheme {
    @if (getMode() == 'dark') {
      @apply text-white;
      background: rgba((adjust-hue(hsl(0, 100%, 20%), hue(getColor('primary')))), 0.8);
    } @else {
      @apply text-gray-800;
      background: rgba((adjust-hue(hsl(0, 100%, 70%), hue(getColor('primary')))), 0.8);
    }
    backdrop-filter: var(--backdrop-blur);
  }

  // 数字输入
  .ant-input-number {
    background: transparent;
  }

  // 按钮
  .ant-float-btn {
    background: transparent;

    .ant-float-btn-body {
      background: transparent;
    }
  }
}
