@import 'theme.scss';

:root {
  --border-radius: 0px;
  --screen-width: 1280px;
  --min-screen-width: 1280px;
  --show-border-op: 0.5;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

html,
body {
  scroll-behavior: smooth;
}

body {
  position: relative;
  transition:
    background-color 0.3s,
    color 0.3s;
  //transform-style: preserve-3d; // 不能设置这个 否则导致 fixed 定位失效
  //perspective: 1000px;
  @include useTheme {
    background-color: getModeVar('bgColor');
    color: getModeVar('infoColor');
  }

  //@include useTheme {
  //  $t: getColor('primary');
  //  @if getMode() == 'dark' {
  //    background: linear-gradient(
  //                    135deg,
  //                    adjust-hue(hsl(0, 30%, 30%), hue(adjust-hue($t, -30))),
  //                    adjust-hue(hsl(0, 30%, 30%), hue(adjust-hue($t, 30)))
  //    );
  //    background-size: cover;
  //    background-attachment: fixed;
  //  } @else {
  //    background: linear-gradient(
  //                    135deg,
  //                    adjust-hue(hsl(0, 30%, 50%), hue(adjust-hue($t, -30))),
  //                    adjust-hue(hsl(0, 30%, 50%), hue(adjust-hue($t, 30)))
  //    );
  //    background-size: cover;
  //    background-attachment: fixed;
  //  }
  //}

  // loading 的控制

  //@for $i from 1 through 4 {
  //  .cell.d-#{$i} {
  //    animation-delay: $i * 100ms;
  //  }
  //}

  //@include useTheme {
  //  .cell {
  //    @for $i from 1 through 9 {
  //      &:nth-child(#{$i}) {
  //        $cell-color: adjust-hue(hsl(0, 100%, 70%), hue(adjust-hue(getColor('primary'), -40 + $i * 10)));
  //        animation: 1.5s ripple-#{$i} ease infinite;
  //        @keyframes ripple-#{$i}-#{$cell-color} {
  //          0% {
  //            background-color: transparent;
  //          }
  //
  //          30% {
  //            background-color: $cell-color;
  //          }
  //
  //          60% {
  //            background-color: transparent;
  //          }
  //
  //          100% {
  //            background-color: transparent;
  //          }
  //        }
  //      }
  //    }
  //
  //  }
  //}
}

.enter-y {
  --enter-duration: 0.4s;
  opacity: 0;
  transform: translateX(50px);
  filter: blur(10px);
  animation: enter-y-animation var(--enter-duration) ease-in-out 0.3s forwards;
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
  @keyframes enter-y-animation {
    0% {
      opacity: 0;
      filter: blur(10px);
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }
}

.enter-scale {
  opacity: 0;
  transform: scale(1.1);
  filter: blur(10px);
  animation: enter-scale-animation 0.4s ease-in-out 0.3s forwards;
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
  @keyframes enter-scale-animation {
    0% {
      opacity: 0;
      transform: scale(1.1);
      filter: blur(10px);
    }
    100% {
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
    }
  }
}

.enter-scale-noblur {
  transform: scale(1.1);
  animation: enter-scale-noblur-animation 0.4s ease-in-out 0.3s forwards;
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
  @keyframes enter-scale-noblur-animation {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}

// 通用卡片样式
.card {
  @apply shadow-md rounded-[var(--border-radius)];
  @include useTheme {
    border: 1px solid rgba(getColor('primary'), var(--show-border-op));
  }
}

// g6交互提示样式
.g6-tooltip {
  padding: 10px 6px;
  border-radius: var(--border-radius);
  @include useTheme {
    border: 2px solid rgba(getColor('primary'), var(--show-border-op));
    background-color: getModeVar('cardBgColor');
    color: getModeVar('textColor');
    box-shadow: 0 0 10px 0 rgba(getColor('primary'), 0.6);
  }
}
