@import 'theme.scss';

:root {
  --border-radius: 0px;
  --screen-width: 1280;
  --min-screen-width: 1280;
}

@font-face {
  font-family: hanyiyongzisonghei;
  src: url('@/assets/fonts/hanyiyongzisonghei.ttf');
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  position: relative;
  transition:
    background-color 0.3s,
    color 0.3s;
  @include useTheme {
    background-color: getModeVar('bgColor');
    color: getModeVar('infoColor');
  }

  // 当页面宽度小于 1280px 时，缩放页面
  @media screen and (max-width: 1280px) {
    zoom: calc(100% * var(--screen-width) / var(--min-screen-width));
  }

  // loading 的颜色控制
  @include useTheme {
    $side-left-color: rgba((adjust-hue(hsl(0, 100%, 70), hue(getColor('primary')))), 1);
    $side-right-color: rgba((adjust-hue(hsl(0, 100%, 80), hue(getColor('primary')))), 1);
    $side-top-color: rgba((adjust-hue(hsl(0, 100%, 90), hue(getColor('primary')))), 1);

    .side-left {
      background-color: $side-left-color;
    }

    .side-right {
      background-color: $side-right-color;
    }

    .side-top {
      background-color: $side-top-color;
    }
  }
}

.enter-y {
  --enter-duration: 0.4s;
  opacity: 0;
  transform: translateX(50px);
  animation: enter-y-animation var(--enter-duration) ease-in-out 0.3s forwards;
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
  @keyframes enter-y-animation {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
