.ant-popover-inner-content {
  @apply flex items-center justify-center;
  .nav-item {
    @apply px-2 py-1 sm:text-sm text-xs mx-0.5 transition-colors rounded-[var(--border-radius)] box-border cursor-pointer;
    border: 2px transparent solid;
    transition: 0.4s;

    &:hover {
      color: white;
      transform: scale(1.05);
      @include useTheme {
        background: rgba(getColor('primary'), 0.9);
        border: 2px rgba(getColor('primary'), 1) solid;
      }
    }
  }

  .active-nav-item {
    color: white !important;
    @include useTheme {
      background: rgba(getColor('primary'), 0.9);
    }
  }
}
